.row {
  display: flex;
  flex-flow: row wrap;
  margin-left: -15px;
  margin-right: -15px;
}
.row > div {
  padding-left: 15px;
  padding-right: 15px;
}
@media (max-width: 768px) {
  .row.xs-pull-reverse {
    flex-direction: column-reverse;
  }
  .row.xs-pull-reverse > .col-xs-12 {
    align-self: stretch;
    margin-bottom: 15px;
  }
}

.col-xs-12 {
  flex-basis: 100%;
}
.col-xs-11 {
  flex-basis: 91.66666667%;
}
.col-xs-10 {
  flex-basis: 83.33333333%;
}
.col-xs-9 {
  flex-basis: 75%;
}
.col-xs-8 {
  flex-basis: 66.66666667%;
}
.col-xs-7 {
  flex-basis: 58.33333333%;
}
.col-xs-6 {
  flex-basis: 50%;
}
.col-xs-5 {
  flex-basis: 41.66666667%;
}
.col-xs-4 {
  flex-basis: 33.33333333%;
}
.col-xs-3 {
  flex-basis: 25%;
}
.col-xs-2 {
  flex-basis: 16.66666667%;
}
.col-xs-1 {
  flex-basis: 8.33333333%;
}

@media (min-width: 768px) {
  .col-sm-12 {
    flex-basis: 100%;
  }
  .col-sm-11 {
    flex-basis: 91.66666667%;
  }
  .col-sm-10 {
    flex-basis: 83.33333333%;
  }
  .col-sm-9 {
    flex-basis: 75%;
  }
  .col-sm-8 {
    flex-basis: 66.66666667%;
  }
  .col-sm-7 {
    flex-basis: 58.33333333%;
  }
  .col-sm-6 {
    flex-basis: 50%;
  }
  .col-sm-5 {
    flex-basis: 41.66666667%;
  }
  .col-sm-4 {
    flex-basis: 33.33333333%;
  }
  .col-sm-3 {
    flex-basis: 25%;
  }
  .col-sm-2 {
    flex-basis: 16.66666667%;
  }
  .col-sm-1 {
    flex-basis: 8.33333333%;
  }
}

@media (min-width: 992px) {
  .col-md-12 {
    flex-basis: 100%;
  }
  .col-md-11 {
    flex-basis: 91.66666667%;
  }
  .col-md-10 {
    flex-basis: 83.33333333%;
  }
  .col-md-9 {
    flex-basis: 75%;
  }
  .col-md-8 {
    flex-basis: 66.66666667%;
  }
  .col-md-7 {
    flex-basis: 58.33333333%;
  }
  .col-md-6 {
    flex-basis: 50%;
  }
  .col-md-5 {
    flex-basis: 41.66666667%;
  }
  .col-md-4 {
    flex-basis: 33.33333333%;
  }
  .col-md-3 {
    flex-basis: 25%;
  }
  .col-md-2 {
    flex-basis: 16.66666667%;
  }
  .col-md-1 {
    flex-basis: 8.33333333%;
  }
}

@media (min-width: 1200px) {
  .col-lg-12 {
    flex-basis: 100%;
  }
  .col-lg-11 {
    flex-basis: 91.66666667%;
  }
  .col-lg-10 {
    flex-basis: 83.33333333%;
  }
  .col-lg-9 {
    flex-basis: 75%;
  }
  .col-lg-8 {
    flex-basis: 66.66666667%;
  }
  .col-lg-7 {
    flex-basis: 58.33333333%;
  }
  .col-lg-6 {
    flex-basis: 50%;
  }
  .col-lg-5 {
    flex-basis: 41.66666667%;
  }
  .col-lg-4 {
    flex-basis: 33.33333333%;
  }
  .col-lg-3 {
    flex-basis: 25%;
  }
  .col-lg-2 {
    flex-basis: 16.66666667%;
  }
  .col-lg-1 {
    flex-basis: 8.33333333%;
  }
}