@import "./styles/themes.css";
@import "./styles/main-layout.css";
@import "./styles/graph-tooltip.css";
@import "./styles/dropzone.css";
@import "./styles/toast.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --animation-duration: 300ms;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --default-border-width: 1px;
  --default-border-radius: 5px;
}

* {
  box-sizing: border-box;
}

#app,
input,
select,
a,
button {
  color: var(--neutral-3);
}
button[type="submit"] {
  font-weight: normal;
}

footer {
  background-color: var(--primary-8);
  padding: 9px;
}

a {
  cursor: pointer;
}

button,
input,
select,
a {
  outline: 0;
}

body,
.app-container {
  --content-background: var(--primary-11);
}
.app-container.white-bg {
  --content-background: #fff;
}

#app {
  -webkit-overflow-scrolling: touch;
}

hr {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border: var(--default-border-width) solid var(--primary-4);
}

h4 {
  margin: 0;
  font-size: 18px;
}

label {
  font-size: 14px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently not supported by any browser */
}

fieldset[disabled] input,
input[disabled] {
  opacity: 0.6;
}

@media (max-width: 600px) {
  input {
    font-size: 16px;
  }
}

input[type="radio"] {
  @apply relative w-4 h-4 appearance-none border border-neutral-400 rounded-full outline-none;
}

input[type="radio"]:focus {
  @apply ring-2 ring-[var(--primary-7)] border-[var(--primary-7)];
}

input[type="radio"]:before {
  @apply absolute top-1/2 left-1/2 block w-3/4 h-3/4 rounded-full content-[""];

  transform: translate(-50%, -50%);
}

input[type="radio"]:checked:before {
  @apply bg-[var(--primary-5)];
}

select {
  appearance: none;

  background-image: url(/chevron-down.svg);
  background-position: right 8px top 50%;
  background-size: 15px;
  background-repeat: no-repeat;
}

.connect-left {
  @apply rounded-tl-none rounded-bl-none;
}

.connect-right {
  @apply border-r-0 rounded-tr-none rounded-br-none;
}

.raw-button {
  @apply p-0 bg-transparent border-0 text-neutral-600 shadow-none;
}

button::-moz-focus-inner {
  border: 0;
}

.overlay-holder {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
.overlay-holder > * {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
}

th {
  font-size: 16px;
  text-align: left;
  border-bottom: 2px solid var(--primary-8);
}

td {
  vertical-align: top;
  padding: 5px;
  border-top: var(--default-border-width) solid var(--neutral-6);
}
