@tailwind base;
@tailwind components;
@tailwind utilities;

.form-group {
  @apply flex flex-col gap-1;
}

input[type="radio"] {
  @apply border border-neutral-400 rounded-full w-4 h-4 appearance-none outline-none relative;
}

input[type="radio"]:before {
  @apply absolute top-1/2 left-1/2 block w-3/4 h-3/4;

  transform: translate(-50%, -50%);
  content: "";
  border-radius: 50%;
}
input[type="radio"]:checked:before {
  background: green;
}
