service: get-recommendations

frameworkVersion: "3"

provider:
  name: aws
  runtime: nodejs18.x
  stage: dev
  environment:
    stage: ${self:provider.stage}
    STAGE: ${self:provider.stage}

  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - dynamodb:GetItem
          Resource: "arn:aws:dynamodb:*:*:table/My_Library_${self:provider.stage}"

functions:
  getRecommendations:
    timeout: 10
    handler: handler.getRecommendations

plugins:
  - serverless-esbuild
