.themeChooserRoot {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.themeChooserList {
  height: 500px;
  overflow-y: scroll;
  padding-right: 30px;
}

.themeChooser {
  margin-top: 10px;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  border: 1px solid var(--neutral-5);
  padding: 10px;
  cursor: pointer;
}
.themeChooser:global(.active) {
  border: 2px solid var(--neutral-5);
  padding: 9px;
  cursor: default;
}

.themeChooser > span {
  margin-right: 20px;
  width: 115px;
}
.themeChooser > div {
  width: 30px;
  height: 30px;
  margin-right: 20px;
  background-color: red;
}

.mockModal {
  border: 4px solid var(--primary-3);
  border-radius: 10px;
  padding: 20px;
  max-width: 600px;
}


.mockModal hr {
  margin-top: 15px;
  margin-bottom: 15px;
}