.themeChooser {
  margin-top: 10px;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  border: 1px solid var(--neutral-5);
  padding: 10px;
  cursor: pointer;
}
.themeChooser:global(.active) {
  border: 2px solid var(--neutral-5);
  padding: 9px;
  cursor: default;
}

.themeChooser > span {
  margin-right: 20px;
  width: 115px;
}
.themeChooser > div {
  width: 30px;
  height: 30px;
  margin-right: 20px;
  background-color: red;
}