:root {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.scheme1 {
  --color1: hsl(262, 60%, 38%);
  --mainTextColor: hsl(262, 61%, 93%);
}

.nav {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 30px;
  display: flex;
  align-items: stretch;
  color: var(--mainTextColor);
  background-color: var(--color1);
  height: 50px;
  font-size: 16px;
}
.nav-header {
  font-size: 18px;
  display: flex;
  align-items: center;
  margin-right: 30px;
}
.nav li a, .nav li span {
  padding-left: 15px;
  padding-right: 15px;
}
.nav-items {
  padding-left: 0;
}
.nav-items > li, .nav-items-right > li {
  display: flex;
  align-items: center
}
.nav-items, .nav-items-right {
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  align-items: stretch;
  list-style-type: none;
}
.nav-items-right {
  margin-left: auto;
}


