.idea/
node_modules/
utils/awsCredentials.js
startMongo.bat
react/components/firstComponent.js
react/store.js
react/modules/bookEntry/bookEntry.js
react/modules/bookEntry/components/bookEntryItem.js
react/modules/bookEntry/components/bookEntryList.js
app.js
