node_modules/
npm-debug.log
uploads/*
.env
public.env
.esm-cache/
react/service-worker/sw-index-bundle.js
.DS_Store
react/.DS_Store
react/dist/*
react/dist-css/*
index-bundle.js
lambda/coverUploads/dist
lambda/book-covers/.webpack
.serverless
lambda/try-upload/.serverless
config.js
.env.dev
svelte/dist
.serverless
react/public/sw-index-bundle.js
svelte/public/sw-index-bundle.js
lambda/data-migrations/connection-strings.js
svelte-kit/.vercel
lambda/lookup-books/.build
lambda/process-book-cover/dist
mysql/.dbeaver
mysql/.project
mysql/.idea
mysql/data-import/dev.env
lambda/sync-similar-books/build
lambda/my-library-pg-backup/secrets.yml
lambda/sync-similar-books/.env.local
lambda/sync-similar-books/.env.prod
.env.*
