input.searchInput:global(.form-control) { 
  width: 250px;
}

.mobileMenu {
  display: none;
}

@media (max-width: 1200px){
  input.searchInput:global(.form-control) { 
    width: unset;
  }
}
@media (max-width: 1000px){
  input.searchInput:global(.form-control) { 
    border-right-width: var(--default-border-width);
    border-top-right-radius: var(--default-border-radius);
    border-bottom-right-radius: var(--default-border-radius);
  }

  .menuBarHome button {
    display: none;
  }

  .mobileMenu {
    display: unset;
  }
}

@media (max-width: 490px) {
  .searchInput { 
    width: 150px !important;
  }
}
@media (max-width: 390px) {
  .searchInput { 
    width: 100px !important;
  }
}

:global(.mobile-menu) button {
    display: flex;    
}

:global(.mobile-menu) button span {
    margin-left: 0;
    margin-right: 10px;
} 

:global(.mobile-menu) button i {
    margin-left: auto;
    margin-right: 2px;
}