.searchInput { 
  width: 250px !important;
}

@media (max-width: 900px) {
  .searchInput { 
    width: 150px !important;
  }
}
@media (max-width: 600px) {
  .searchInput { 
    width: 100px !important;
  }
}
@media (max-width: 490px) {
  .searchInput { 
    width: 150px !important;
  }
}
@media (max-width: 390px) {
  .searchInput { 
    width: 100px !important;
  }
}
