.search-modal-result-set {
  height: 0;
}

.bl-animate-enter {
  &.search-modal-result-set {
    opacity: 0;
  }
}
.bl-animate-enter.bl-animate-enter-active, .bl-animate-enter-done {
  &.search-modal-result-set {
    opacity: 1;
  }
}

.bl-animate-enter.bl-animate-enter-active {
  transition: opacity 200ms ease-in, height 200ms ease-in;
}

// ------------------------------------------------------------------------

.bl-animate-exit {
  &.search-modal-result-set {
    opacity: 1;
  }
}

.bl-animate-exit.bl-animate-exit-active {
  &.search-modal-result-set {
    opacity: 0;
    height: 0 !important;

    transition: opacity 200ms ease-in, height 200ms ease-in 100ms;
  }
}