.btn {
  margin: 0;
  border: 1px solid var(--neutral-border);
  background-color: white;
  padding: 6px 12px;
  font-size: 15px;
  border-radius: var(--default-border-radius);
  cursor: pointer;
  white-space: nowrap;
}
.btn-light.btn-round-icon, .btn-light.btn-square-icon {
  border: 0;
}
.btn.btn-light {
  background-color: var(--primary-9);
  color: white
}
.btn.btn-light:hover:not([disabled]) {
  background-color: var(--primary-6)
}
.btn.btn-light:active:not([disabled]) {
  background-color: var(--primary-5);
}
.btn[disabled]{
  opacity: 0.6;
  cursor: not-allowed;
}
.btn.btn-xs {
  font-size: 12px;
  padding: 3px 6px;
}
.btn.btn-xxs {
  font-size: 11px;
  padding: 2px 5px;
}
.btn.btn-round-icon, .btn.btn-square-icon {
  text-align: center;
  display: inline-block;
  padding: 4px;
  font-size: 9px;
}
.btn.btn-round-icon {
  border-radius: 50%;
}
.btn.btn-square-icon {
  border-radius: 2px;
}

.btn-group .btn:hover:not([disabled]) {
  background-color: var(--primary-10)
}
.btn-group .btn:hover.active {
  background-color: var(--primary-9)
}
.btn-group .btn.active {
  background-color: var(--primary-10)
}
.btn-group .btn:active:not([disabled]), .btn-group .btn.active:active:not([disabled]) {
  background-color: var(--primary-8);
}

.btn:hover:not([disabled]) {
  background-color: var(--neutral-10)
}
.btn:active:not([disabled]) {
  background-color: var(--neutral-9);
}

.btn-group {
  display: flex;
}

@media (max-width: 500px) {
  .btn-first-tiny {
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
  }
}

.btn-group :not(:first-child) { 
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.btn-group :not(:last-child) { 
  border-right-width: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.btn-group :first-child {
  border-top-left-radius: var(--default-border-radius);
  border-bottom-left-radius: var(--default-border-radius);
}
.btn-group :last-child {
  border-top-right-radius: var(--default-border-radius);
  border-bottom-right-radius: var(--default-border-radius);
}

.btn-info {
  background-color: var(--info-5);
  border-color: var(--info-5);
}
.btn-info:hover:not([disabled]) {
  background-color: var(--info-4);
  border-color: var(--info-4);
}
.btn-info:active:not([disabled]) {
  background-color: var(--info-3);
  border-color: var(--info-3);
}

.btn.btn-primary {
  background-color: var(--primary-5);
  border-color: var(--primary-5);
  color: var(--primary-10);
}
.btn.btn-primary:hover:not([disabled]) {
  background-color: var(--primary-4);
  border-color: var(--primary-4);
}
.btn.btn-primary:active:not([disabled]) {
  background: var(--primary-3);
  border-color: var(--primary-3);
}

.btn.btn-success {
  background-color: var(--success-5);
  border-color: var(--success-5);
}
.btn.btn-success:hover:not([disabled]) {
  background-color: var(--success-4);
  border-color: var(--success-4);
}
.btn.btn-success:active:not([disabled]) {
  background-color: var(--success-3);
  border-color: var(--success-3);
}

.btn.btn-danger {
  background: var(--danger-5);
  border-color: var(--danger-5);
}
.btn.btn-danger:hover:not([disabled]) {
  background: var(--danger-4);
  border-color: var(--danger-4);
}
.btn.btn-danger:active:not([disabled]) {
  background: var(--danger-3);
  border-color: var(--danger-3);
}