.books-menu-bar {
  position: sticky;
  top: 0;
  margin-top: -2px;
  padding-top: 2px;
  padding-bottom: 1px;
  background-color: white;
  z-index: 3;

  .results-holder {
    > * {
      justify-self: center;
    }
  }

  .mobile-menu-button {
    display: none;
  }

  input.search-input {
    width: 250px;
  }

  @media (max-width: 1200px) {
    input.search-input {
      width: unset;
    }
  }

  .menu-bar-desktop {
    button span, h2, hr {
      display: none;
    }
  }

  @media (max-width: 1000px) {
    .page-label {
      display: none;
    }
    .page-edge {
      display: none;
    }
    .page {
      border-radius: var(--default-border-radius) !important;
      border: var(--default-border-width) solid var(--neutral-border) !important;
    }

    .mobile-menu-button {
      display: block;
    }

    input.search-input {
      border-right-width: var(--default-border-width);
      border-top-right-radius: var(--default-border-radius);
      border-bottom-right-radius: var(--default-border-radius);
    }

    .menu-bar-desktop button {
      display: none;
    }
  }

  @media (max-width: 600px) {
    input.search-input {
      width: 150px !important;
    }
  }
  @media (max-width: 501px) {
    input.search-input {
      width: 100px !important;
    }
  }
}
