service: sync-similar-books
frameworkVersion: "3"

provider:
  name: aws
  runtime: nodejs18.x
  stage: dev
  environment:
    stage: ${self:provider.stage}
    STAGE: ${self:provider.stage}

  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - lambda:InvokeFunction
          Resource: "arn:aws:lambda:us-east-1:*:function:process-book-cover*"
        - Effect: Allow
          Action:
            - dynamodb:GetItem
          Resource: "arn:aws:dynamodb:*:*:table/My_Library_${self:provider.stage}"
        - Effect: "Allow"
          Action:
            - "s3:*"
          Resource: ["arn:aws:s3:::my-library-cover-upload-staging/*", "arn:aws:s3:::my-library-cover-uploads/*"]

functions:
  sync:
    timeout: 500
    handler: build/sync-similar-books/index.syncNextBook
    events:
      - schedule: rate(1 minute)
  fix-authors:
    timeout: 500
    handler: build/sync-similar-books/index.doSyncAuthor
