.subjectsRoot {
  margin-left: 20px;
  margin-bottom: 20px;

  ul {
    margin-left: 0;
    padding-left: 0;
  }
  
  ul ul {
    margin-left: 20px;
  }
}

.editPane > div {
  padding-bottom: 10px;
}

.subjectPreview {
  margin-right: 10px;

  max-width: 300px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.textColorSaveBox {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

div:global(.row).subjectRow {
  padding-left: 0;
  margin-left: 0;
  & > a {
    font-size: 12px;
  }
}
div:global(.row).subjectRow > div {
  padding-left: 0;
}