.subjectsRoot {
  margin-left: 20px;
  margin-bottom: 20px;

  ul {
    margin-left: 0;
    padding-left: 0;
  }
  
  ul ul {
    margin-left: 20px;
  }
}

div:global(.row).subjectRow {
  padding-left: 0;
  margin-left: 0;
}
div:global(.row).subjectRow > div {
  padding-left: 0;
}