.label {
  font-size: 11px;
  padding: 3px 6px;
  border-radius: 3px;
  font-weight: bold;
  white-space: nowrap;
  display: inline;
}
.label-default {
  background-color: var(--neutral-background);
  color: white
}
.label-info {
  background-color: var(--info-5);
}

.label.label-info, .btn.btn-info {
  color: var(--info-10)
}

.label.label-inherit {
  background-color: transparent
}

.label.label-success {
  background-color: var(--success-5);
}
.label.label-success, .btn.btn-success {
  color: var(--success-10);
}

.label.label-danger, .btn.btn-danger {
  color: var(--danger-10);
}
.label.label-danger {
  background-color: var(--danger-5);
}

/* ------------------------------------------------------------------------------------------ */

.alert{
  padding: 15px;
  border-radius: 3px;
  display: flex;
  align-items: center;
}
.alert.alert-warning{ 
  background-color: var(--warning-9);
  border: 1px solid var(--warning-8);
  color: var(--warning-1);
}
.alert.alert-info{ 
  background-color: var(--info-9);
  border: 1px solid var(--info-8);
  color: var(--info-1);  
}
.alert.alert-danger{ 
  background-color: var(--danger-9);
  border: 1px solid var(--danger-8);
  color: var(--danger-1);
}
.alert.alert-success{ 
  background-color: var(--success-9);
  border: 1px solid var(--success-8);
  color: var(--success-1);
}
.alert.alert-slim {
  padding: 10px;
}