.btn {
  margin: 0;
  border: var(--default-border-width) solid var(--neutral-border);
  background-color: white;
  padding: 6px 12px;
  font-size: 15px;
  border-radius: var(--default-border-radius);
  cursor: pointer;
  white-space: nowrap;

  &[disabled],
  &.disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
  &:is(a):hover:not(.disabled),
  &:is(button):hover:not([disabled]) {
    background-color: var(--neutral-10);
  }
  &:is(a):active:not(.disabled),
  &:is(button):active:not([disabled]) {
    background-color: var(--neutral-9);
  }

  &.btn-light {
    background-color: var(--primary-8);
    color: white;

    &:is(a):hover:not(.disabled),
    &:is(button):hover:not([disabled]) {
      background-color: var(--primary-6);
    }
    &:is(a):active:not(.disabled),
    &:is(button):active:not([disabled]) {
      background-color: var(--primary-5);
    }
  }

  &.btn-info {
    background-color: var(--info-5);
    border-color: var(--info-5);
    color: var(--info-10);

    &:is(a):hover:not(.disabled),
    &:is(button):hover:not([disabled]) {
      background-color: var(--info-4);
      border-color: var(--info-4);
    }
    &:is(a):active:not(.disabled),
    &:is(button):active:not([disabled]) {
      background-color: var(--info-3);
      border-color: var(--info-3);
    }
  }

  &.btn-primary {
    background-color: var(--primary-5);
    border-color: var(--primary-5);
    color: var(--primary-10);

    &:is(a):hover:not(.disabled),
    &:is(button):hover:not([disabled]) {
      background-color: var(--primary-4);
      border-color: var(--primary-4);
    }
    &:is(a):active:not(.disabled),
    &:is(button):active:not([disabled]) {
      background: var(--primary-3);
      border-color: var(--primary-3);
    }
  }

  &.btn-success {
    background-color: var(--success-5);
    border-color: var(--success-5);
    color: var(--success-10);

    &:is(a):hover:not(.disabled),
    &:is(button):hover:not([disabled]) {
      background-color: var(--success-4);
      border-color: var(--success-4);
    }
    &:is(a):active:not(.disabled),
    &:is(button):active:not([disabled]) {
      background-color: var(--success-3);
      border-color: var(--success-3);
    }
  }

  &.btn-danger {
    background: var(--danger-5);
    border-color: var(--danger-5);
    color: var(--danger-10);

    &:is(a):hover:not(.disabled),
    &:is(button):hover:not([disabled]) {
      background-color: var(--danger-4);
      border-color: var(--danger-4);
    }
    &:is(a):active:not(.disabled),
    &:is(button):active:not([disabled]) {
      background: var(--danger-3);
      border-color: var(--danger-3);
    }
  }

  &.btn-xs {
    font-size: 12px;
    padding: 3px 6px;
  }
  &.btn-xxs {
    font-size: 11px;
    padding: 2px 5px;
  }

  &.btn-square-icon {
    text-align: center;
    display: inline-block;
    padding: 4px;
    font-size: 9px;
  }
}

.btn.btn-group-size {
  height: 32px;
}
.btn-group {
  display: flex;

  input.form-control:focus,
  button.btn:focus,
  button.btn-xs:focus {
    box-shadow: none;
  }

  &:is(a):hover:not(.disabled),
  &:is(button):hover:not([disabled]) {
    background-color: var(--primary-10);
  }
  .btn:hover.active {
    background-color: var(--primary-9);
  }
  .btn.active {
    background-color: var(--primary-10);
  }
  .btn:is(a):active:not(.disabled),
  .btn:is(button):active:not([disabled]),
  .btn:is(a).active:active:not(.disabled),
  .btn:is(button).active:active:not([disabled]) {
    background-color: var(--primary-8);
  }

  input.form-control,
  .btn {
    height: 32px;
  }

  form > .btn,
  :not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  form > .btn,
  .btn,
  input.form-control {
    border-right-width: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  > .btn:last-child,
  > .btn.last-child,
  > form:last-child > .btn,
  > form > .btn.last-child {
    border-right-width: var(--default-border-width);
  }

  :first-child,
  .btn.first-child,
  input.first-child {
    border-top-left-radius: var(--default-border-radius);
    border-bottom-left-radius: var(--default-border-radius);
  }
  & > button.btn:last-child,
  & > .btn:last-child,
  & > form:last-child > .btn,
  & > form > .btn.last-child,
  & > .btn.last-child {
    border-top-right-radius: var(--default-border-radius);
    border-bottom-right-radius: var(--default-border-radius);
  }
  @media (max-width: 500px) {
    .btn-first-tiny {
      border-top-left-radius: 4px !important;
      border-bottom-left-radius: 4px !important;
    }
    .tiny-orphan {
      border-top-right-radius: var(--default-border-radius);
      border-bottom-right-radius: var(--default-border-radius);
      border-right: var(--default-border-width) solid var(--neutral-border);
    }
  }
}
