.popper-tooltip {
  display: none;
  opacity: 0;
  transition: opacity 200ms ease-in;
}
.popper-tooltip.exists {
  display: block;
}
.popper-tooltip.show {
  opacity: 1;
}

.tooltip-root {
  --arrow-size: 10px;
  --arrow-diagonal: 7px; /* half of sqrt(10^2 + 10^2) which is how far the point protrudes out (once moved over halfway, per the next css var */
  --arrow-offset: 5px; /* half of --arrow-size - move the box halfway over  */
}

@media (max-width: 800px) {
  .tooltip-root {
    --arrow-size: 6px;
    --arrow-diagonal: 3px; /* same as above but with some fudging */
    --arrow-offset: 2px;
  }
}

.tooltip-root.left {
  transform: translateX(calc(-1 * var(--arrow-diagonal)));
}
.tooltip-root.right {
  transform: translateX(calc(var(--arrow-diagonal)));
}
.tooltip-root.top,
.tooltip-root.top-left,
.tooltip-root.top-right {
  transform: translateY(calc(-1 * var(--arrow-diagonal)));
}

.tooltip-root .arrow,
.tooltip-root .arrow::before {
  background-color: var(--bg-color);
  position: absolute;
  width: var(--arrow-size);
  height: var(--arrow-size);
  background: inherit;
}

.tooltip-root .arrow {
  visibility: hidden;
}
.tooltip-root.left .arrow {
  top: calc(50% - var(--arrow-offset));
  right: calc(-1 * var(--arrow-offset));
}
.tooltip-root.right .arrow {
  top: calc(50% - var(--arrow-offset));
  left: calc(-1 * var(--arrow-offset));
}
.tooltip-root.top .arrow {
  left: calc(50% - var(--arrow-offset));
  bottom: calc(-1 * var(--arrow-offset));
}
.tooltip-root.top-left .arrow {
  left: 15px;
  bottom: calc(-1 * var(--arrow-offset));
}
.tooltip-root.top-right .arrow {
  right: 15px;
  bottom: calc(-1 * var(--arrow-offset));
}

.tooltip-root .arrow::before {
  visibility: visible;
  content: "";
  transform: rotate(45deg);
}
