.popper-tooltip {
  display: none;
  opacity: 0;
  transition: opacity 200ms ease-in;
}
.popper-tooltip.exists {
  display: block;
}
.popper-tooltip.show {
  opacity: 1;
}

.tooltip-root {
  --bg-color: var(--info-9);
  --arrow-size: 10px;
  --arrow-diagonal: 7px; /* half of sqrt(10^2 + 10^2)  */
  --arrow-offset: 5px; /* half of sqrt(10^2 + 10^2)  */
  color: var(--neutral-3);
  background-color: var(--bg-color);
  padding: 10px;
  border-radius: 5px;
}

.tooltip-root.left {
  margin-top: 10px;
  transform: translateX(calc(100% + var(--arrow-diagonal)));
}
.tooltip-root.right {
  margin-top: 10px;
  transform: translateX(calc(-1 * (100% + var(--arrow-diagonal))));
}
.tooltip-root.top {
  transform: translateY(calc(-1 * var(--arrow-diagonal)));
}

.tooltip-root .content {
  display: flex;
  align-items: baseline;
}

.tooltip-root .name {
  font-size: 22px;
  margin-right: 12px;
}

.tooltip-root .content button {
  font-size: 22px;
}
.tooltip-root button {
  cursor: pointer;
}

.tooltip-root .arrow,
.tooltip-root .arrow::before {
  background-color: var(--bg-color);
  position: absolute;
  width: var(--arrow-size);
  height: var(--arrow-size);
  background: inherit;
}

.tooltip-root .arrow {
  visibility: hidden;
}
.tooltip-root .arrow.left {
  top: calc(50% - var(--arrow-offset));
  left: calc(-1 * var(--arrow-offset));
}
.tooltip-root .arrow.right {
  top: calc(50% - var(--arrow-offset));
  right: calc(-1 * var(--arrow-offset));
}
.tooltip-root .arrow.top {
  left: calc(50% - var(--arrow-offset));
  bottom: calc(-1 * var(--arrow-offset));
}
.tooltip-root .arrow::before {
  visibility: visible;
  content: "";
  transform: rotate(45deg);
}
