html,
body {
  margin: 0;
  --main-spacing-top: 0px;
  --main-spacing-right: 5px;
  --main-spacing-bottom: 10px;
  --main-spacing-left: 5px;
  --main-spacing: var(--main-spacing-top) var(--main-spacing-right) var(--main-spacing-bottom) var(--main-spacing-left);
  --header-footer-spacing: 10px 5px;
  --content-max-width: 1200px;
  overscroll-behavior: none;
}

#app {
  min-height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
}
#app > footer {
  grid-area: footer;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
  display: grid;

  grid-template-columns: 1fr minmax(0, var(--content-max-width)) 1fr;
}
main > section {
  grid-area: 1 / 2 / 2 / 3;
  padding: var(--main-spacing);
}
main > section.full {
  grid-area: 1 / 1 / 2 / 4;
  background-color: unset;
}
