.svelte-helpers-modal-content {
  .standard-modal-header {
    display: flex;
    align-items: center;
  }
  .standard-modal-header .close {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
  }
}
