.svelte-helpers-modal-content {
  border-color: var(--primary-3) !important;
  --modal-content-padding: 20px !important;

  hr {
    width: 100%;
  }
  .standard-modal-header {
    display: flex;
    align-items: center;
  }
  .standard-modal-header .close {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
  }
}
