.master-nav {
  .number-badge {
    --badge-size: 0.7rem;
    &.big-count {
      --badge-size: 0.65rem;
    }

    position: absolute;
    right: 3px;
    top: 3px;

    > span {
      i {
        color: var(--info-6);
        font-size: 1rem;
      }
      span {
        justify-self: center;
        align-self: center;
        color: var(--primary-2);
        font-size: var(--badge-size);
        line-height: 1rem;
      }
    }
  }
}
