label.checkbox {
  display: flex;
}
label.checkbox > input {
  margin-right: 5px;
}

.border-bottom {
  border-bottom: 2px solid var(--primary-5);
}

.svelte-modal-overlay {
  z-index: 99 !important;
}

.svelte-helpers-modal-content {
  --modal-content-padding: 20px !important;
  border-color: var(--primary-3) !important;
}

@media (max-width: 600px) {
  .svelte-helpers-modal-content {
    margin-top: 10px !important;
  }
}

.sliding-mobile-menu {
  transform: translateX(-100%);
  transition: transform 150ms ease-out;
  @apply bg-white rounded-br absolute border border-neutral-400 border-t-0 border-l-0;
}
.sliding-mobile-menu.open {
  transform: translateX(0);
}

.sr {
  border: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
