label.checkbox {
  display: flex;
}
label.checkbox > input {
  margin-right: 5px;
}

.border-bottom {
  border-bottom: 2px solid var(--primary-5);
}

.svelte-modal-overlay {
  z-index: 99 !important;
}

.svelte-helpers-modal-content {
  --modal-content-padding: 20px !important;
  border-color: var(--primary-3) !important;
}

@media (max-width: 600px) {
  .svelte-helpers-modal-content {
    margin-top: 10px !important;
  }
}

.sr {
  border: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
