@import "./alert-label";

* {
  box-sizing: border-box;
}

body,
.app-container {
  --content-background: var(--primary-11);

  &.white-bg {
    --content-background: #fff;
  }
}

#app {
  -webkit-overflow-scrolling: touch;
}
#app,
input,
select,
a,
button {
  color: var(--neutral-3);
}
button[type="submit"] {
  font-weight: normal;
}

footer {
  background-color: var(--primary-8);
  padding: 9px;
}

a {
  cursor: pointer;
}

button,
input,
select,
a {
  outline: 0;
}

fieldset[disabled] input,
input[disabled] {
  opacity: 0.6;
}

hr {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border: var(--default-border-width) solid var(--primary-4);
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
h4 {
  margin: 0;
  font-size: 18px;
}

label {
  font-size: 14px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently not supported by any browser */
}

@media (max-width: 600px) {
  input {
    font-size: 16px;
  }
}

label.checkbox {
  display: flex;

  & > input {
    margin-right: 5px;
  }
}

a,
button,
input,
select {
  touch-action: manipulation;
}

.border-bottom {
  border-bottom: 2px solid var(--primary-5);
}

.svelte-modal-overlay {
  z-index: 99 !important;
}

.svelte-helpers-modal-content {
  --modal-content-padding: 20px !important;
  border-color: var(--primary-3) !important;
}

.sr {
  border: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.dropzone-container {
  border: 3px solid var(--primary-9);
  text-align: center;
  background-color: white;
  padding: 5px;
  color: var(--neutral-3);
  outline: none;
  cursor: pointer;
}

.toastify {
  z-index: 10;
  margin-right: 10px;
}

div.toast-notification {
  display: flex;
  padding: 10px;
  background: var(--primary-4);
  color: var(--primary-10);
}
div.toast-notification.success {
  background: var(--success-7);
}
div.toast-notification a,
div.toast-notification span,
div.toast-notification h4 {
  color: var(--primary-10);
}
