.tab-headers {
  display: flex;
  border-bottom: var(--default-border-width) solid var(--primary-9);
}
.tab-header {
  padding: 0;

  > button {
    padding: 5px 10px 5px 10px;
    margin: 0;
  }

  &.active {
    border-bottom: var(--default-border-width) solid var(--primary-9);
    background-color: var(--primary-10);
  }
  &.active button,
  &.disabled button {
    cursor: default;
  }
  &.disabled button {
    color: var(--neutral-7);
  }
  &:not(.active):not(.disabled):hover {
    cursor: pointer;
    background-color: var(--neutral-10);
  }
}

.tab-content .tab-pane:not(.active) {
  display: none;
}

.tab-content .tab-pane > * {
  margin-top: 10px;
  margin-left: 5px;

  @media (max-width: 800px) {
    margin-left: 0;
  }
}
