:root {
  --neutral-1: hsl(42, 15%, 13%);
  --neutral-2: hsl(40, 13%, 23%);
  --neutral-3: hsl(37, 11%, 28%);
  --neutral-4: hsl(41, 9%, 35%);
  --neutral-5: hsl(41, 8%, 45%);
  --neutral-6: hsl(41, 8%, 61%);
  --neutral-7: hsl(39, 11%, 69%);
  --neutral-8: hsl(40, 15%, 80%);
  --neutral-9: hsl(43, 13%, 90%);
  --neutral-10: hsl(40, 23%, 97%);

  --success-1: hsl(125, 97%, 14%);
  --success-2: hsl(125, 86%, 20%);
  --success-3: hsl(125, 79%, 26%);
  --success-4: hsl(122, 80%, 29%);
  --success-5: hsl(122, 73%, 35%);
  --success-6: hsl(123, 57%, 45%);
  --success-7: hsl(123, 53%, 55%);
  --success-8: hsl(124, 63%, 74%);
  --success-9: hsl(127, 65%, 85%);
  --success-10: hsl(125, 65%, 93%);

  --warning-1: hsl(43, 86%, 17%);
  --warning-2: hsl(43, 77%, 27%);
  --warning-3: hsl(43, 72%, 37%);
  --warning-4: hsl(42, 63%, 48%);
  --warning-5: hsl(42, 78%, 60%);
  --warning-6: hsl(43, 89%, 70%);
  --warning-7: hsl(43, 90%, 76%);
  --warning-8: hsl(45, 86%, 81%);
  --warning-9: hsl(45, 90%, 88%);
  --warning-10: hsl(45, 100%, 96%);

  --danger-1: hsl(348, 94%, 20%);
  --danger-2: hsl(350, 94%, 28%);
  --danger-3: hsl(352, 90%, 35%);
  --danger-4: hsl(354, 85%, 44%);
  --danger-5: hsl(356, 75%, 53%);
  --danger-6: hsl(360, 83%, 62%);
  --danger-7: hsl(360, 91%, 69%);
  --danger-8: hsl(360, 100%, 80%);
  --danger-9: hsl(360, 100%, 87%);
  --danger-10: hsl(360, 100%, 95%);

  --info-1: hsl(184, 91%, 17%);
  --info-2: hsl(185, 84%, 25%);
  --info-3: hsl(185, 81%, 29%);
  --info-4: hsl(184, 77%, 34%);
  --info-5: hsl(185, 62%, 45%);
  --info-6: hsl(185, 57%, 50%);
  --info-7: hsl(184, 65%, 59%);
  --info-8: hsl(184, 80%, 74%);
  --info-9: hsl(185, 94%, 87%);
  --info-10: hsl(186, 100%, 94%);
}
