.stack {
  --st-spacing: 10px;
  &.tighter {
    --st-spacing: 5px;
  }
  &.tightest {
    --st-spacing: 3px;
  }
  
  & > * + * {
    margin-top: var(--st-spacing);
  }
}

.form-group {
  --fg-spacing: 5px;
  &.tighter {
    --fg-spacing: 5px;
  }
  &.tightest {
    --fg-spacing: 3px;
  }
  
  & > * + * {
    margin-top: var(--fg-spacing);
  }
}

