.table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  
  td {
    font-size: 14px;
    vertical-align: top;
    padding: 5px;
    border-top: 1px solid var(--neutral-border);
  }
  th {
    font-size: 16px;
    text-align: left;
    border-bottom: 2px solid var(--primary-9);
  }
}
.table.no-padding-top > thead > tr > th {
  padding-top: 0;
}

/* ----------------------------------------------------------------------------- */

.tab-headers {
  display: flex;
  border-bottom: 1px solid var(--primary-9);
}
.tab-header {
  padding: 5px 10px 5px 10px;

  &.active {
    font-weight: bold;
    border-bottom: 1px solid var(--primary-9);
    background-color: var(--primary-10)
  }
  &.active a, &.disabled a {
    cursor: default;
  }
  &.disabled a {
    color: var(--neutral-lighter-text);
  }
  &:not(.active):not(.disabled):hover {
    cursor: pointer;
    background-color: var(--neutral-10);
  }
}

.tab-content .tab-pane:not(.active) {
  display: none;
}