.covers-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(110px, 110px));
  grid-template-rows: 1fr;
  grid-gap: 15px;
}

.covers-list figure {
  margin: 0
} 

.covers-list img {
  cursor: pointer;
  max-width: 100%;
}