# "org" ensures this Service is used with the correct Serverless Framework Access Key.
org: arackaf
service: book-scan-v2

provider:
  name: aws
  runtime: nodejs18.x
  stage: dev
  environment:
    stage: ${self:provider.stage}
    STAGE: ${self:provider.stage}

  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - dynamodb:Query
            - dynamodb:Scan
            - dynamodb:GetItem
            - dynamodb:PutItem
            - dynamodb:UpdateItem
            - dynamodb:DeleteItem
            - dynamodb:DescribeStream
            - dynamodb:ConditionCheckItem
          Resource: "arn:aws:dynamodb:*:*:table/My_Library_${self:provider.stage}"
        - Effect: Allow
          Action:
            - dynamodb:Query
            - dynamodb:Scan
            - dynamodb:GetItem
            - dynamodb:PutItem
            - dynamodb:UpdateItem
            - dynamodb:DeleteItem
            - dynamodb:DescribeStream
            - dynamodb:ConditionCheckItem
          Resource: "arn:aws:dynamodb:*:*:table/My_Library_${self:provider.stage}/index/*"
        - Effect: Allow
          Action:
            - lambda:InvokeFunction
          Resource: "arn:aws:lambda:us-east-1:*:function:process-book-cover*"
        - Effect: "Allow"
          Action:
            - "s3:*"
          Resource: ["arn:aws:s3:::my-library-cover-upload-staging/*", "arn:aws:s3:::my-library-cover-uploads/*"]
        - Effect: Allow
          Action:
            - "execute-api:ManageConnections"
          Resource:
            - "arn:aws:execute-api:*:*:**/@connections/*"

functions:
  connect:
    handler: ws-connection.connect
    events:
      - websocket:
          route: $connect

  disconnect:
    handler: ws-connection.disconnect
    events:
      - websocket:
          route: $disconnect

  sync:
    handler: ws-connection.sync
    events:
      - websocket:
          route: sync

  checkScanStatus:
    handler: handlers/getPendingScanCount.handler

  scanBook:
    handler: handlers/scanBook.handler

  scanCheck:
    timeout: 500
    handler: handlers/scanCheck.handler
    # events:
    #   - schedule: rate(1 minute)

package:
  individually: true
