ul.listGroup {
  margin-left: 0;
  padding-left: 0;
}

ul.listGroup ul.listGroup {
  margin-left: 10px;
  padding-left: 20px;
}

.editPane > div {
  padding-bottom: 10px;
}

.defaultSubjectDisplay {
  display: flex;
  align-items: center;
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
}
.defaultSubjectDisplay > a {
  font-size: 12px;
}
.defaultSubjectDisplay a {
  color: inherit;
}

.subjectPreview {
  margin-right: 10px;

  max-width: 300px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.textColorSaveBox {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

div:global(.row).subjectRow {
  padding-left: 0;
  margin-left: 0;
}
div:global(.row).subjectRow.editPane > div, div:global(.row).subjectRow.delete-pane > div {
  padding-left: 0;
}

.showOnHoverParent:hover > .showOnHoverInline {
  display: inline;
}
.showOnHoverInline {
  display: none;
}